<div class="chat-header">
  <div class="left-header">
    <div class="title">
      hogefuga
    </div>
  </div>
  <div class="left-header">
    <div class="header-title">
      <h1>タイトル：<%= @problem.title %></h1>
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">ルームを終了する</a>
    </div>
  </div>
</div>

<div class="problem-content">
  内容：<%= @problem.content %>
</div>

<div class="messages">
  <%= render partial: 'comment', collection: @comments %>
</div>

<% if user_signed_in? %>
  <%= form_with model: [@problem, @comment], class: 'form', local: true do |f| %>
    <div class="form-input">
      <%= f.text_field :solution, class: 'form-message', placeholder: 'コメントする' %>
      <label class="form-image">
        <span class="image-file">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
      </label>
    </div>
    <%= f.submit '送信', class: 'form-submit' %>
  <% end %>
<%else%>
  <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
<%end%>