<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="chat">
    <div class="chat-header">
      <div class="left-header">
        <div class="title">
          <%= link_to "〜お悩み相談室〜", root_path %> 
        </div>
      </div>
    </div>
    <div class="top-messages">
      <div class="top-page">＜お悩み一覧＞</div>
      <%= search_form_for @p, class: 'search-form', url: search_problems_path do |f| %>
        <%= f.label :category_name_eq, '・カテゴリー検索：', class:'search-title' %>
        <%= f.collection_select(:category_id_eq,Category.all,:id,:name,{},{class:'search-category'}) %>
        <%= f.submit '検索', class:'search-form-submit'%>
      <% end %>
      <% if @results.length !=0 %>
        <% @results.each do |result| %>
          <div class="room">
            <div class="rooms-name">
              ⚫︎　<%= link_to result.title, problem_path(result.id) %>　　
              <%= link_to result.user.name, user_path(result.user) %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="no-category">※該当するお悩みはありません</div>
      <% end %>
    </div>
  </div>
</div>