<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>Show Account</h2>
      <h5>ユーザー詳細</h5>
      <%= link_to "トップページに戻る", root_path, class: 'btn'%>
    </div>
    <div class='account-page__inner--right user-form'>
        <div class='field'>
          <div class='field-label'>
            <h3>Name <i>名前</i>：　<%= @user.name %></h3>
          </div>
          <div class='field-input'>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <h3>Gender <i>性別</i>：　<%= @user.gender %></h3>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <h3>Age <i>年代</i>：　<%= @user.age.name %></h3>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <h3>Position <i>肩書き</i>：　<%= @user.position.name %></h3>
          </div>
        </div>
        <div class='actions'>
        </div>
    </div>
  </div>
</div>
